<ng-container *transloco="let t">
  <div class="pagination-area">
    <div class="{{readerMode === ReaderMode.LeftRight ? 'left' : 'top'}} {{clickOverlayClass('left')}}" (click)="handlePageChange($event, KeyDirection.Left)"
         [ngStyle]="{'height': (readerMode === ReaderMode.LeftRight ? '100dvh' : '25%'), 'max-height': '100dvh'}">
      @if (showClickOverlay) {
        <div>
          <i class="fa fa-angle-{{readingDirection === ReadingDirection.RightToLeft ? 'double-' : ''}}{{readerMode === ReaderMode.LeftRight ? 'left' : 'up'}}"
             [title]="t('manga-reader.prev-page-tooltip')" aria-hidden="true"></i>
        </div>
      }
    </div>
    <div class="{{readerMode === ReaderMode.LeftRight ? 'right' : 'bottom'}} {{clickOverlayClass('right')}}" (click)="handlePageChange($event, KeyDirection.Right)"
         [ngStyle]="{'height': (readerMode === ReaderMode.LeftRight ? '100dvh' : '25%'),
                                  'left': 'inherit',
                                  'right': RightPaginationOffset + 'px',
                                  'max-height': '100dvh'}">
      @if (showClickOverlay) {
        <div>
          <i class="fa fa-angle-{{readingDirection === ReadingDirection.LeftToRight ? 'double-' : ''}}{{readerMode === ReaderMode.LeftRight ? 'right' : 'down'}}"
             [title]="t('manga-reader.next-page-tooltip')" aria-hidden="true"></i>
        </div>
      }
    </div>
  </div>
</ng-container>
